@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300&display=swap');


html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #087e8b;
  --text: #F5F5F5;
  --secondary: #1a1a17;
  --background: #FF5A5F;
}

.scroll-up-button {
  position: fixed;
  height: 45px;
  width: 45px;
  background: var(--primary);
  color: var(--text);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  z-index: 1000;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s;
  opacity: 0;
}

.scroll-up-button.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-button:hover {
  filter: brightness(90%);
}

.container {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 30px 0;
  transition: all 0.3s;
}

.navbar.sticky {
  padding: 15px 0;
  background: var(--primary);
  box-shadow: 0 1px 5px var(--secondary);
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: var(--text);
  font-size: 35px;
  font-weight: 600;
}

.navbar .menu li {
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: var(--text);
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;

}

.menu-btn {
  display: none;
  font-size: 23px;
  cursor: pointer;
}

section {
  padding: 100px 0;
}

.home {
  display: flex;
  background: url(banner.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: var(--text);
  
}

.home .container {
  margin: auto 0 auto 30px;
}



.home .home-content a {
  display: inline-block;
  background: var(--primary);
  color: var(--text);
  box-shadow: -3px 5px var(--secondary);
  border: 3px solid var(--secondary);
  font-size: 25px;
  margin-top: 20px;
  font-weight: 400;
  padding: 12px 36px;
}

.home .terminal {
  width: 500px;
  height: 150px;
  background: var(--secondary);
  color: var(--text);
  box-shadow: inset 0px 0px 2px 2px var(--primary);
  padding: 5px 15px;
  font-family: 'Abel', sans-serif;
  font-weight: 700;
  
}

.home .terminal span {
  color: var(--text);
  
  white-space: pre;
  font-family: 'Abel', sans-serif;
}

.typed-cursor {
  background: var(--primary);
}

.home .home-content a:hover {
  background: var(--secondary);
  color: var(--primary);
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: var(--secondary);
}

section .title::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: var(--primary);
  transform: translateX(-50%);
  
}

.about {
  background: var(--secondary);
  min-height: 500px;
}

.about .title {
  color: var(--text);
}

.about .about-content {
  display: flex;
  justify-content: space-between;
  
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(30%) scale(0.95);
  
}



.slide-in.active {
  opacity: 1;
  transform: translateY(0%) scale(1);
}

.x {
  height: 100vh;
}




/* .about .about-content img {
  height: auto;
  width: 100%;
} */

.need-image {
  width: 400px;
  height: 400px;
  background: var(--background);
  margin: 0 25px;
  position: relative;
}

.about .about-content > * {
  flex: 1;
  
}

.about .about-content .text {
  flex: 0.5;
  color: var(--text);
  text-align: start;
  font-size: 25px;
  font-weight: 600;
  background: var(--background);
  z-index: 500;
  height: 200px;

}



.top {
  height: 200px;
  background: var(--primary);
  width: 1220px;
  position: absolute;
  left: -300px;
}




